.test--default-args {
  overflow: hidden;
  position: relative;
  background-color: #87451c;
  color: #78bae3; }
  .test--default-args:before {
    content: '';
    display: block;
    padding-bottom: 100%; }
  .test--default-args:after {
    content: 'FPO';
    font: bold 20px/1 sans-serif;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%); }
