/// Create a "for placement only" element
/// @param {Map} $args - The mixin arguments
/// @require {mixin} ratioHeight
/// @output An element that maintains a set aspect ratio as it is resized
@mixin fpo($args: ()) {
  $params: map-merge($fpo-defaults, $args);

  @include ratioHeight(map-get($params, 'ratio'));
  background-color: map-get($params, 'color');
  color: invert(map-get($params, 'color'));

  &:after {
    content: map-get($params, 'text');
    font: map-get($params, 'font');
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @if ($fpo-warn) {
    @warn 'FPO elements being used.';
  }
}