@mixin fpo($args: ()) {
  $_defaults: (
    ratio: 1,
    color: rgb(random(255), random(255), random(255)),
    font: bold 20px/1 sans-serif,
    text: 'FPO'
  );
  $params: map-merge($_defaults, $args);

  @include ratioHeight(map-get($params, 'ratio'));
  background-color: map-get($params, 'color');
  color: invert(map-get($params, 'color'));

  &:after {
    content: map-get($params, 'text');
    font: map-get($params, 'font');
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @if ($fpo-warn) {
    @warn 'FPO elements being used.';
  }
}